node_modules/
bower_components/
dist/
build/
buildsystem-test-results/
src/styles/
.sass-cache
npm-debug.log
allure-report/

# This file is copied over from the plugin-build node module so that linting settings are centralized
.jshintrc
package-lock.json

#IDE Specific files

#Atom
*.tern-project

#vscode
.vscode

#SublimeText
*.sublime-project
*.sublime-workspace

#IntelliJ
.idea/
*.iml
atlassian-ide-plugin.xml
*.ipr
*.iws

#Eclipse
.project

#OSX
.DS_Store
